/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require main
*= require mobile
*= require jquery-ui
*= require jquery-ui.theme
*= require_self
*/



.form-group.imgContainer
{
    width: auto;
    max-height:210px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 10px;
}
#infoModal
{
    z-index: 1500;
}

#delPOIModal
{
    z-index: 1400;
}
.removeimg{
    font-size: xx-large;
    color: red;
    display: inline-block;
    margin-left: -30px;
}
.imgContainer img
{
    max-height: 170px;
    display: inline-block;
}
.imgContainer .imgItem
{
    display: inline-block;
    vertical-align: middle;
}

#map{
    width: 100vw;
    height: 100vh;
}
textarea {
    resize: vertical;
}
.listSupress{
    max-height: 20vh;
    overflow-y:scroll ;
    overflow-x:hidden ;
    padding: 10px 10px 10px 10px;
}
li.alert-danger{
    background-color: #f2dede;
    border-color: #ebccd1;
}